.container-table{
    width: 80%;
    padding-top: 30px;
    overflow-y: auto;
}

.table-consults{
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

.title-table{
    font-size: 2em;
    font-weight: bold;
}

.table-consults caption{
    text-align: justify;
}

.table-head th:nth-child(1) {
    width: 15%;
  }
  
  .table-head th:nth-child(2) {
    width: 15%;
  }
  
  .table-head th:nth-child(3) {
    width: 15%;
  }
  
  .table-head th:nth-child(4) {
    width: 15%;
  }
  .table-head th:nth-child(5) {
    width: 15%;
  }
  .table-head th:nth-child(6) {
    width: 15%;
  }
  .table-head th:nth-child(7) {
    width: 15%;
  }

  #container-btns{
    width: 35%;
  } 
  
  th,
  td {
    padding: 1em;
    text-align: center;
  }

  tr{
    border-bottom: 1px solid #0000001f;
  }

